/CrawlSpaceEscape.class
/DiningRoom.class
/Ghost.class
/Inventory.class
/Kitchen.class
/LivingRoom.class
/Main.class
/MasterBedroom.class
/Office.class
/Upstairs.class
/UserInteraction.class
/Woods.class
